html(lang='en')
  head
    title CRUD EXAMPLE
  body
    h1 CRUD
    #container
      | Nom:
    form(methode='post')  
      input(type='text' ng-model="name")
      button#cli( type="submit" ng-click='create()' ) Ajouter